html {
 color-scheme: dark light;
 font-family: sans-serif;
 width: 100vw;
 height: 100svh;
 box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
 iframe {
  background-color: black;
 }
}

@media (prefers-color-scheme: light) {
 iframe {
  background-color: white;
 }
}

body {
 margin: 0;
 display: flex;
 height: 100svh;
 width: 100vw;
 flex-direction: column;
 align-content: stretch;
 box-sizing: border-box;
}

body>header {
 /* position: fixed; */
 display: flex;
 gap: 0.5rem;
 align-items: center;
 left: env(titlebar-area-x, 0);
 top: env(titlebar-area-y, 0);
 height: env(titlebar-area-height, 2rem);
 width: env(titlebar-area-width, 100%);
}

body>header h1 {
 -webkit-app-region: drag;
 font-size: 1rem;
 margin: 0;
}

#windowTitle {
 -webkit-app-region: drag;
 flex: 1 1 0;
 text-align: center;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
}

#abrirArchivo {
 anchor-name: --abrirArchivo;
}

#archivo {
 position: absolute;
 position-anchor: --abrirArchivo;
 top: 3.5rem;
 top: anchor(bottom);
 left: 0.5rem;
 left: anchor(left);
 margin: unset;
 transform:
  translateY(-50%) scaleY(0);
 transition-property:
  overlay, display, transform;
 transition-behavior:
  allow-discrete;
 transition-duration: 1s;
}

#archivo:popover-open {
 transform: translateY(0);
}

@starting-style {

 #archivo:popover-open {
  transform:
   translateY(-50%) scaleY(0);
 }

}

#archivo ul {
 list-style-type: none;
 padding: 0;
}

#archivo ul li {
 margin-block: 1rem;
}

.error {
 color: red;
}

#lblabrir {
 cursor: pointer;
}

#abrir {
 position: absolute;
 top: -1000rem;
}

#content {
 flex-grow: 1;
 margin: 0;
 display: flex;
 align-content: stretch;
 box-sizing: border-box;
}

iframe {
 flex: 1 1 0;
 min-width: 0;
 overflow: auto;
 box-sizing: border-box;
}

#code {
 flex: 1 1 0;
 overflow: auto;
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
}

#consoleSec {
 flex: 1 1 0;
 overflow: auto;
 box-sizing: border-box;
}

#code>:nth-child(2) {
 border-bottom: 1px solid #888;
 flex-grow: 1;
 box-sizing: border-box;
 font-size: 1rem;
}

.CodeMirror-hints {
 position: fixed;
 list-style-type: none;
 background-color: #e7e7e7;
 color: black;
 padding: 0;
 overflow: auto;
 z-index: 1004;
 box-sizing: border-box;
}

.CodeMirror-hints li {
 padding: 0.2em;
 cursor: default;
}

.CodeMirror-hints li:hover {
 background-color: #cfcfcf;
}